{{#partial "styles"}}
    <link rel="stylesheet" href="css/styles.css">
{{/partial}}
{{#partial "content"}}

    <nav class="navbar">
        <h3>Wildlife<span style="color: palevioletred;">Tracker</span></h3>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Animals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rangers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Add Animal</a>
            </li>
        </ul>
    </nav>
    <div class="hero">
        <div class="text">Into The<br>Wild Show<br>Adventure In The Forest<br>
            <a href="" class="now">Get Started</a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}