{{#partial "content"}}



    <div class="text">Into The<br>Wild Show<br>Adventure In The Forest<br>
        <!--        <a class="now" href="">Welcome</a>-->
        <a href="animal/new" class="now">Get Started</a>
    </div>
    </div>
    <div class="container-fluid">
        <div class="card" style="width: 22rem;">
            <img src="/images/african-lion-ga4d349180_1920.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Which animal did you see?</h5>
                <p class="card-text">
                    <a href="/form2"> <button type="submit" class="btn btn-warning btn-sm">Add </button></a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img src="/images/nature-gb937a4756_1920.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Did you site an animal?</h5>
                <p class="card-text">
                    <a href="/form1" ><button type="submit" class="btn btn-warning btn-sm">Add </button></a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img src="/images/animals-g94fdf8efd_1920.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sited an endangered Animal?</h5>
                <p class="card-text">
                    <a href="/form3"> <button type="submit" class="btn btn-warning btn-sm">Add </button></a>
                </p>
            </div>
        </div>
    </div>

{{/partial}}
    {{>layout.hbs}}